USE [master]
GO

CREATE DATABASE [ClinicTest]
GO 

USE [ClinicTest]
GO


CREATE TABLE [dbo].[Patient] (
    [Id] INT IDENTITY (1, 1) NOT NULL,
	[IdentificationNumber]  NVARCHAR (200) NOT NULL,
    [FirstName] NVARCHAR (200) NOT NULL,
    [LastName]  NVARCHAR (200) NOT NULL,
    CONSTRAINT [PK_dbo.Patient] PRIMARY KEY CLUSTERED ([Id] ASC)
);

CREATE TABLE [dbo].[Specialization] (
    [Id] INT IDENTITY (1, 1) NOT NULL,
    [Name] NVARCHAR (200) NOT NULL,
    [Enabled]  BIT NOT NULL,
    CONSTRAINT [PK_dbo.Specialization] PRIMARY KEY CLUSTERED ([Id] ASC)
);

CREATE TABLE [dbo].[Appointment] (
    [Id] INT IDENTITY (1, 1) NOT NULL,
    [Date] Date NOT NULL,
    [StartTime] TIME(0) NOT NULL,
	[EndTime] TIME(0) NOT NULL,
	[PatientId] INT NOT NULL,
	[SpecializationId] INT NOT NULL,
    CONSTRAINT [PK_dbo.Appointment] PRIMARY KEY CLUSTERED ([Id] ASC),
	FOREIGN KEY (PatientId) REFERENCES Patient(Id),
	FOREIGN KEY (SpecializationId) REFERENCES Specialization(Id),
);

USE [ClinicTest]
GO
SET IDENTITY_INSERT [dbo].[Specialization] ON 

GO
INSERT [dbo].[Specialization] ([Id], [Name], [Enabled]) VALUES (1, N'Medicina General', 1)
GO
INSERT [dbo].[Specialization] ([Id], [Name], [Enabled]) VALUES (2, N'Odontología', 1)
GO
INSERT [dbo].[Specialization] ([Id], [Name], [Enabled]) VALUES (3, N'Pediatría', 1)
GO
SET IDENTITY_INSERT [dbo].[Specialization] OFF
GO
